<!DOCTYPE html>
<html>

<head>
    <style>
        .footer {
            background-color: aliceblue;
        }

        .footer p,
        .footer h3 {
            padding: 1em;
        }

        .copyright {
            background-color: darkslateblue;
            border-radius: 0 0 2rem 2rem;
        }

        .copyright p {
            width: -webkit-fill-available;
            text-align: center;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="footer container" role="presentation">
        <div class="column contacts">
            <h2> Contáctanos! </h2>

            <h3> Escríbenos para agendar tu cita </h3>

            <a class="button" aria-label="Chat on WhatsApp" href="https://wa.me/50376116134">
                WhatsApp
            </a>

            <a class="button" aria-label="Chat on WhatsApp" href="https://wa.me/50376116134">
                Facebook
            </a>

            <a class="button" aria-label="Chat on WhatsApp" href="https://wa.me/50376116134">
                Website
            </a>
        </div>
        <div class="column address">
            <h2>Nos encontramos en</h2>
            <img alt="Address" src="https://via.placeholder.com/150">
            <img alt="Address" src="https://via.placeholder.com/150">
            <img alt="Address" src="https://via.placeholder.com/150">
        </div>

    </div>

    <div class="copyright container" role="presentation">

        <p>
            Copyright @ 2022 - Suspendisse tincidunt iaculis fringilla.
        </p>

    </div>
</body>

</html>