<!DOCTYPE html>
<html>

<head>
    <style>
        .banner {
            background-color: #00A4BD;
            text-align: center;
            border-radius: 1em;
            color: white;
            width: 100%;
        }

        .banner img {
            max-height: 20vh;
            width: auto;
        }
    </style>
</head>

<body>
    <!-- Banner -->
    <div class="banner" role="presentation">
        <img alt="Flower" src="https://via.placeholder.com/1000">
        <h1> {{ title }} </h1>
    </div>

</body>

</html>