NAME = spotify_stories
EMAIL =

POSTGRES_USER =
POSTGRES_PASSWORD =
POSTGRES_DB = ${NAME}
POSTGRES_PORT = 5432
DATABASE_URL = postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

WORKING_DIR = /usr/src/${NAME}